<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>To-Do lists</title>
		
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/baseC.css" rel="stylesheet">
		<!--<link href="/static/rusak.css" rel="stylesheet">-->
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" style="margin: 15px 20px 5px 0px; font-size: 50px">Reza Mauliadi's Blog</a>
					<h4 style="margin: 0px 0px 20px 20px; color:#ffffff;">Welcome to my blog. You can add to-do lists here and see my blog.</h4>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					{% block alllistlink %}{% endblock %}
				</ul>
			</div>
		</nav>
		
		
		<div>
						
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="text-center" style="margin-top: -15px">
						<h1>{% block header_text %}{% endblock %}</h1>
						
						<div class="col-md-8 col-md-offset-2">
							<form method="POST" action="{% block form_action %}{% endblock %}" class="form-group">
								<div class="input-group add-margin">
									<span class="input-group-addon icon-larger">&#9998;</span>
									<input name="item_text" 
											id="id_new_item" 
											class="form-control input-lg"
											placeholder="Enter a to-do item" 
									/>
								</div>
								{% csrf_token %}
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					{% block table %}
					{% endblock %}
				</div>
			</div>
			
			<div class="row" style="margin-top: 20px">
				<div class="col-lg-10">
					<p style="text-align: right">Copyright &copy Reza Mauliadi</p>
				</div>
			</div>
			
		</div>
	</body>
</html>
 
