{% extends 'base.html' %}

{% block alllistlink %}
	{% for list in thelists %}
			<li><a href="/lists/{{ list.id }}">List {{ list.id }}</a></li>
	{% endfor %}
{% endblock %}

{% block header_text %}Start a new To-Do list{% endblock %}

{% block form_action %}{% url 'new_list' %}{% endblock %}

{% block table %}
	<div class="col-md-8 col-md-offset-2">
		<div class="text-center" style="margin-top: -15px;">
			<h4 id="komentar"><strong>"{{ komentarhtml|default:"yey, waktunya berlibur" }}"</strong></h4>
		</div>
		
		<div class="col-md-12 text-center">
			<p id="jumlah">Total To-Dos: &nbsp;&nbsp;<strong>{{ jumlah|default:"0" }}</strong></p>
			<p style="margin-top: -10px">Total Lists: &nbsp;<strong>{{ totalAllLists|default:"0" }}</strong></p>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2 blog" style="border-top: 1px solid #158cba; margin-top: 50px;">
		<h1 class="text-center">My Blog</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<p style="font-size: 20px;"><strong>My First Blog</strong></p>
				<p>This is my first blog. This blog is intended for my personal entertainment and fulfillment to PMPL assignments. Hopefully this blog is not abused by me in the future. And I also hope that my PMPL course can be awarded an A.</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p style="font-size: 20px;"><strong>Bootstrap</strong></p>
				<p>I make this blog using bootstrap as the layout framework. The theme of the bootstrap in this blog is Lumen. It's a cool bootstrap theme!</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p style="font-size: 20px;"><strong>Just test</strong></p>
				<p>Just test</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<p style="font-size: 20px;"><strong>Just test</strong></p>
				<p>Just test</p>
			</div>
		</div>
	</div>
{% endblock %}
