{% extends 'base.html' %}

{% block header_text %}Start a new To-Do list{% endblock %}

{% block form_action %}/lists/new{% endblock %}

{% block table %}
	<table id="id_list_table">
		<tr> Daftar List yang ada: 
			{% for list in thelists %}
				<td><a href="/lists/{{ list.id }}" style="text-decoration: none">{{ list.id }} &nbsp </a></td>
			{% endfor %}
		</tr>
	</table>
	
	<br />
	<h3>Komentar</h3>
	<p id="komentar">{{ komentarhtml|default:"yey, waktunya berlibur" }}</p>
	<p id="jumlah">Jumlah seluruh To-Do lists: {{ jumlah|default:"0" }}</p>
{% endblock %}
