{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
	<table id="id_list_table" class="table">
		{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
	</table>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Komentar</h3>
		</div>
		<div class="panel-body">
			<p id="komentar">{{ komentarhtml|default:"yey, waktunya berlibur" }}</p>
		</div>
	</div>
	
	<a href="/" class="btn btn-default" style="text-decoration: none"> &#10094 Back</a>
{% endblock %}

 
