{% extends 'base.html' %}

{% block alllistlink %}
	{% for list in thelists %}
			<li><a href="/lists/{{ list.id }}">List {{ list.id }}</a></li>
	{% endfor %}
{% endblock %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/{% endblock %}

{% block table %}
	<div class="col-md-8 col-md-offset-2">
		<div class="komentarStyle" style="margin-top: -15px;">
			<h4 id="komentar"><strong>"{{ komentarhtml|default:"yey, waktunya berlibur" }}"</strong></h4>
		</div>
		
		<table id="id_list_table" class="table table-striped table-hover">
			{% for item in list.item_set.all %}
				<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
			{% endfor %}
		</table>
		
		<a href="/" class="btn btn-primary" style="text-decoration: none"> &#10094 Back</a>
	</div>
{% endblock %}

 
